<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TopBids</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ml-5" href="/">TOPBIDS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link mr-3 btn" href="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-3 btn" href="{% url 'itens' %}">Meus Leilões</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-5 logBtn" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link mr-3 btn" href="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-5 logBtn" href="{% url 'login' %}">Entrar</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <section class="container mt-4">
      {% block content %}

      {% endblock %}
    </section>
    <footer class="mt-auto py-3">
      <hr class="mb-4 linhaFooter" />
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="text">© 2024 TopBids</span>
          </div>
          <div class="col-md-6 text-right">
            <a href="/">Política de Privacidade</a> |
            <a href="/">Termos de Serviço</a> |
            <a href="/">Configuração de Cookies</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
