{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-5">Seu site de leilões</h2>
        <p class="lead mt-3 spacing">Nos leilões tradicionais, tanto os leiloeiros quanto os participantes enfrentam diversos obstáculos que prejudicam a eficiência e a comodidade do processo. A falta de uma plataforma digital dedicada muitas vezes limita as operações, comprometendo a experiência do usuário e afetando negativamente os resultados do leilão.

        Aqui, oferecemos uma solução inovadora para superar esses desafios. Nossa plataforma digital robusta e intuitiva foi desenvolvida para facilitar a realização de leilões online, proporcionando uma experiência aprimorada para leiloeiros e participantes.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/img_leilao.jpeg' %}" alt="Photo" class="img-fluid indexImg resize-img" />
      </div>
    </div>
    <div class="row ml-3 mt-n5">
      <div class="col-md-6 mt-0">
        <h2 class="display-5">Leiloeiro e Comprador</h2>
        <p class="lead mr-4 mt-2 spacing">
          O leiloeiro é essencial para a transparência e eficiência dos leilões, apresentando itens e conduzindo ofertas com conhecimento e habilidades de comunicação. Para os compradores, os leilões oferecem a chance de adquirir itens exclusivos a preços competitivos. Nossa plataforma facilita todo o processo com descrições detalhadas e imagens de alta qualidade, permitindo decisões informadas.
        </p>
        <p class="lead spacing">
          A interação entre leiloeiros e compradores é vital, criando uma atmosfera competitiva e envolvente. Valorizamos essa experiência, oferecendo ferramentas avançadas para leiloeiros e uma interface amigável e segura para compradores. Nosso objetivo é um ambiente de leilão transparente, seguro e satisfatório para todos.
        </p>
      </div>
      <div class="col-md-6 mt-4">
        <p class="lead spacing">
          Nossa plataforma é intuitiva e acessível, ideal para todos os níveis de experiência. Oferecemos suporte contínuo para garantir a melhor experiência possível. Estamos comprometidos com a inovação e acreditamos que os leilões online são o futuro das transações comerciais, proporcionando conveniência e eficácia.
        </p>
        <p class="lead spacing">
          Nossa missão é transformar a interação entre leiloeiros e compradores, oferecendo uma experiência de leilão online emocionante e eficiente. Junte-se a nós e veja como nossa plataforma pode fazer a diferença para você, seja como leiloeiro ou comprador, ajudando-o a alcançar seus objetivos e sucesso em leilões e compras.
        </p>
      </div>
    </div>
  </div>
{% endblock %}