{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao TopBids</h1>
    {% if user.is_authenticated %}
    <p>Você está logado como {{ user.username }}.</p>
    <!-- Área de usuário não logado -->
    {% else %}
    <p class="lead">Você não está logado.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
    <p class="mt-4">Não tem uma conta?</p>
    <a class="btn btn-success btn-lg" href="{% url 'cadastro' %}" role="button">Criar</a>
    {% endif %}
</div>
{% endblock %}