# config files
.env
.config.json

# python
.venv
*.sqlite3
__pycache__
00*.py

# miscellaneous
*.gz
*.zip
*.log
*.class
*.log
*.pyc
*.swp
*.tmp

# React Native
node_modules/
client/build
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
expo-env.d.ts
code/client/.gitignore

# vscode
.vscode/
