{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="jumbotron mt-3 jumAtvConta">
      <!-- Se houver erro durante a ativação da conta -->
      {% if erro %}
        <h1 class="display-4 mt-0">Ativação de Conta</h1>
        <p class="lead mt-3 text-center">{{ erro }}</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Por favor, tente novamente mais tarde.</p>
        <!-- Se o usuário ainda não ativou a conta -->
      {% elif not sucesso %}
        <h1 class="display-4 mt-0">Ativação de Conta</h1>
        <p class="lead mt-3 text-center">Um token de ativação foi enviado para o seu e-mail.</p>
        <p>Por favor, verifique seu e-mail e siga as instruções para ativar sua conta.</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Se você não recebeu o e-mail, verifique sua pasta de spam.</p>
        <!-- Se o usuário ativou a conta -->
      {% else %}
        <h1 class="display-4 mt-0">Conta Ativada</h1>
        <p class="lead mt-3 text-center">Sua conta foi ativada com sucesso!</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Agora você pode fazer login.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
