{% extends 'base.html' %}
{% block content %}
  {% if erro %}
    <div class="alert alert-danger">{{ erro }}</div>
  {% endif %}
  <form action="{% url 'cadastro' %}" method="post" class="col">
    {% csrf_token %}
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col mb-5 m-3 rowCadastro">
          <h1 class="text-center mt-1">Cadastro de Leiloeiro</h1>
          <p class="text-center mt-1">Dados Pessoais</p>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control input" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control input" required />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" class="form-control input" required />
          </div>
          <div class="form-group">
            <label for="senha2">Confirme sua senha</label>
            <input type="password" name="senha2" id="senha2" class="form-control input" required />
          </div>
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" id="cpf" class="form-control input" required />
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" class="form-control input" required />
          </div>
        </div>
        <div class="col m-3">
          <div class="rowCadastro">
            <p class="text-center mt-3">Endereçamento</p>
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input type="text" name="endereco" id="endereco" class="form-control input" required />
            </div>
            <div class="form-group">
              <label for="cidade">Cidade</label>
              <input type="text" name="cidade" id="cidade" class="form-control input" required />
            </div>
            <div class="form-group">
              <label for="estado">Estado</label>
              <select name="estado" id="estado" class="form-control input" required>
                <option value="">Selecione um estado</option>
                {% for estado in estados %}
                  <option value="{{ estado }}">{{ estado }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="cep">CEP</label>
              <input type="text" name="cep" id="cep" class="form-control input" required />
            </div>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Cadastrar" class="btn btn-primary btnCadastro mt-3" />
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
