{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">Login</h1>
  {% if erro %}
    <div class="alert alert-danger">{{ erro }}</div>
  {% endif %}
  <form action="{% url 'login' %}" method="post" class="col-md-6 offset-md-3">
    {% csrf_token %}
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario" required />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required />
    </div>
    <input type="submit" value="Logar" class="btn btn-primary" />
    <p class="mt-3">
      Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </p>
    {% if emails %}
      <p>
        Esqueceu sua senha? <a href="{% url 'recuperar_senha' %}">Recupere</a>
      </p>
    {% endif %}
  </form>
{% endblock %}