{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="jumbotron mt-3 jumRedSenha">
      <!-- Se houver erro durante a redefinição de senha -->
      {% if erro %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">{{ erro }}</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Por favor, tente novamente mais tarde.</p>

        <!-- Se o usuário recebeu o e-mail de redefinição de senha -->
      {% elif sucesso %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">Um token de ativação foi enviado para o seu e-mail.</p>
        <p class="text-center">Por favor, verifique seu e-mail e siga as instruções para ativar sua conta.</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Se você não recebeu o e-mail, verifique sua pasta de spam.</p>

        <!-- Insere o formulário de redefinição de senha por e-mail -->
      {% else %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">Por favor, insira seu e-mail para redefinir sua senha.</p>
        <hr class="my-4" />
        <form action="{% url 'recuperar_senha' %}" method="post" class="col-md-6 offset-md-3">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control input" required />
          </div>
          <input type="submit" value="Redefinir" class="btn btn-primary mt-3 btnRedefSenha col-md-6 offset-md-3" />
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
