{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="jumbotron mt-3 jumRedSenha">
      <!-- Se houver erro durante a redefinição de senha -->
      {% if erro %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">{{ erro }}</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Por favor, tente novamente mais tarde.</p>

        <!-- Se o usuário recebeu o e-mail de redefinição de senha -->
      {% elif sucesso %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">Sua senha foi redefinida com sucesso!</p>
        <hr class="my-4" />
        <p class="text-center mb-0">Por favor, faça o login novamente.</p>

        <!-- Insere o formulário de redefinição de senha -->
      {% else %}
        <h1 class="display-4 mt-0">Redefinição de senha</h1>
        <p class="lead mt-3 text-center">Por favor, insira sua nova senha.</p>
        <hr class="my-4" />
        <form action="{% url 'redefinir_senha' uidb64=uidb64 token=token %}" method="post" class="col-md-6 offset-md-3">
          {% csrf_token %}
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" class="form-control input" required />
          </div>
          <input type="submit" value="Redefinir" class="btn btn-primary mt-3 btnRedefSenha col-md-6 offset-md-3" />
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
